@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* variables */
:root {
  --heading-color: #444;
  --text-color: #999;
  --primary-color: #8d69f1;
  --highlight-color: #d13267;
  --bg-color: #f4f4f4;
}

/* base styles */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  list-style-type: none;
}

body{
  font-family: poppins, sans-serif;
  background-color: var(--bg-color);
}